* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    padding: 24px;
    background: #C5EACE;
  }
  
  .friendList {
    list-style: none;
  }
 
  .item {
    margin: 0 auto;
    width: 360px;
    height: 80px;
    padding-left: 20px;
    border: 2px solid #0b7236;
    border-radius: 3px;
    background-color: #fff;    
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .onLine {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: green;
    margin-right: 20px;
  }
  
  .offLine {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: red;
    margin-right: 20px;
  }
  
  .avatar {
    border-radius: 7px;
    margin-right: 20px;
  }
  
  .name {
    font-size: 30px;
    font-weight: bold;
  }